#index-main {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

#about-text {
    background-color: #c9cba3;
    color: black;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: solid 1px black;
    border-radius: 8px;
    box-shadow: 4px 12px rgba(0, 0, 0, 0.3);
    width: 400px;
    align-items: center;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
}

.service {
    background-color: #ffe1a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
    padding: 30px;
    border: solid 1px black;
    border-radius: 8px;
    width: 260px;
    box-shadow: 4px 12px rgba(0, 0, 0, 0.3);
}

.service img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: solid 1px black;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #c9cba3;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    border-radius: 8px;
    box-shadow: 4px 12px rgba(0, 0, 0, 0.3);
    width: 400px
}

.worker-name {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}